/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 220, 97), rgb(17, 71, 48));
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: #fff;
}

fieldset{
    border: 3px solid #14dc61;
}

legend{
    border: 1px solid #14dc61;
    padding: 10px;
    text-align: center;
    background-color: #14dc61;
    border-radius: 8px; 
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: #fff;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.inputUser.error {
    border-bottom: 1px solid #990000; 
    outline: red;
}

.labelInput{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #ffffff;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-image: linear-gradient(to right, rgb(20, 220, 97), rgb(17, 71, 48));    
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(27, 151, 74), rgb(26, 162, 103));    
}

